body {
  background-image: url(image/fondo5.jpg);
  font-family: Georgia, "Times New Roman", Times, serif;
  background-size: cover;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
p {
}
.titulo {
  text-align: center; /*alineacion de texto*/
  font-size: 70%; /*tamaño del texto*/
  background-color: rgb(10, 36, 114); /*color de fondo*/
  height: 10%;
  width: 90%;
  color: white; /*color letra*/
  margin: 5%; /* el espacio de afuera con el background */
  padding: alineacion; /* el espacio entre el contenido y los bordes internos */
  border: 3px solid black; /*color de borde*/
}
.izq {
  text-align: left;
  border: 3px solid black;
  width: 55%;
}
.video {
  border: 3px solid black;
  width: 40%;
  height: 100px;
}
