body {
  background-image: url(image/fondo5.jpg);
  font-family: Georgia, "Times New Roman", Times, serif;
  background-size: cover;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
p {
}
.titulo {
  text-align: center;
}
